#iex-content {
    position: fixed;
    top: 5%;
    left: 20%;
    width: 700px;
    background-color: #f4d2ff;
    padding: 15px;
    border: 1px;
    border-color: gray;
    border-radius: 1%;
    z-index: 100001;
}

#iex-body {
    display: flex;
}

#iex-text {
    width: 80%;
}

#iex-snippets {
    display: flex;
    padding-left: 5px;
}

#iex-snippets-label {
    text-align: left;
    width: 100%;
}

#iex-modal {
    text-align: center;
}

#iex-title {
    font-size: 18px;
    color: #454545;
    margin-bottom: 10px;
}

#iex-snippets {
    flex-direction: column;
    width: 20%;
}

.iex-snippet {
    font-size: 10px;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #454545;
    cursor: pointer;
}

#iex-add-snippet {
    font-size: 10px;
    margin: 5px;
    padding: 5px;
    color: white;
    background-color: #454545;
    cursor: pointer;
}

#iex-textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 10px;
}

#iex-command-label {
    color: white;
    background-color: #454545;
    text-align: right;
    padding-right: 5px;
}

#iex-overlay{
	z-index: 100000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 120%;
	background-color: rgba(0,0,0,0.65);
}